<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<RollingFile name="MyRollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d [%t] %-5level %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
		<RollingFile name="BetScreen" fileName="logs/betscreen.log"
			filePattern="logs/$${date:yyyy-MM}/screen-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d [%t] %-5level %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<root additivity="false" level="INFO">
			<appender-ref ref="Console" />
			<appender-ref ref="MyRollingFile" />
		</root>
	</loggers>
</configuration>